<h2>Products</h2>

<div class="flex-container">
  <div>
<div *ngFor="let product of products">


  <div class="polaroid">
    <img src="{{product.image}}" width="150" height="200">

    <div class="container">
      <h3 style="font-size: 25px;">
        <a href="{{product.link}}">
          {{ product.name }}
        </a>
      </h3>
      <p *ngIf="product.description" style="font-size: 25px;">
        Description: {{ product.description }}
      </p>

      <p *ngIf="product.price" style="font-size: 25px;">
        Price: {{ product.price }}
      </p>
      <p *ngIf="product.rating" style="font-size: 25px;">
        Rating: {{ product.rating }}
      </p>

    </div>
    <button>
      <a href="https://api.whatsapp.com/send?phone=77072785706&text=Look+at+this+product+{{product.name}}+here+{{product.link}}">Share with Whatsapp</a>
    </button>
  </div>



</div>
  </div>
  </div>
